body {

    background-color: rgb(49, 3, 74);

    
}

head {

    background-color: rgb(49, 3, 74);

}

title {

    font-family:copperplate;
    color: rgb(255, 217, 0);
    font-size: 500;
}


h1 {

   font-family:copperplate;
    color: rgb(255, 217, 0);
    text-align: center;
    font-size: 12000; 
}

p {

    font-family:copperplate;
    color: rgb(255, 217, 0);
    text-align: center;
    font-size: 8000; 
}

h2 {

font-family: zapfino;
color: rgb(255, 217, 0);
text-align: right;
font-size: 10000;

}


h3 {

font-family: copperplate;
color: rgb(255, 217, 0);
text-align: right;
font-size: 10000;

}

h4 {

font-family: copperplate;
color: rgb(255, 217, 0);
text-align: center;
font-size: 10000;

}


h5 {

    font-family: copperplate;
color: rgb(255, 217, 0);
text-align: left;
font-size: 10000; 
}

style
a:link {
    color:rgb(255, 217, 0) ;
} 

a:visited{ 
    color: rgb(173, 136, 247) ;
}

a:active {color: rgb(173, 136, 247) ; }
